*{
  margin: 0;
  padding: 0;
  font-family:'Nunito Sans', sans-serif;;
}

/* LOGIN PAGE */

.login{
  border: none;
  border-radius: 25px;
  margin-top: 79px;
  box-shadow:  1px 1px 20px 11px #dbb82d;
}

.login img{
  height: 330px;
  width: 427px;
  padding: 23px;
}

.btn-primary{
  background-color: #dbb82d;
  border: none;
  margin-bottom: 15px;
  font-size: 20px;
  cursor: pointer;
}

.btn-primary:hover{
  background-color: #ead864 !important;
}  

.btn:disabled{
  background-color: #ead864;
}


@media (max-width: 700px){
  .login img{
    height: 300px;
    width: 330px;
  }
}

/* NAV BAR */

.style-nav-logo{
  height: 50px;
  width: 50px;
}

.nav-link:hover{
  color:black;
}

.navbar-nav .nav-link.active{
  color: #6c540e;
}

.style-nav{
  border: none;
  background-color: #dbb82d;
  padding: 5px 10px 5px 10px;
}

.logout{
  border: none;
  background: #dbb82d;
}

.style-nav-link{
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.style-name{
  color:black;
  font-weight: bold;
  font-size: 12px;
  margin:0;
  text-transform: uppercase;

}

/* MODAL */
.style-modal-header{
 background-color: #dbb82d;
}


/* INVENTORY */

.style-title-page{
  font-weight: bold;
  font-size: 30px;
}

.btn-table{
  background-color: #dbb82d;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.mr{
  margin-right: 5px;
}

.btn:first-child:hover{
  background-color:#dbb82d;
  color: white;
}

:not(.btn-check)+.btn:hover{
  background-color:#dbb82d;
  color: white;
}